/* very dark brown #362312 */
/* dark border color #8a7b6a */
/* border colors #cbb59b */
/* medium #e6d5be */
/* lighter #f2e7d5*/
/* off white #faf7f0 */

* {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
}

body {
  background-color: white;
  margin: 0px;
  height: 100%;
}

.headerBox {
  width: 95%;
  height: 2.7rem;
  min-width: 40rem;
  margin: 0 auto;
}

h1 {
  font-size: 2.2rem;
  font-weight: 400;
  color: #362312;
  margin-top: 0;
}

p {
  font-size: 1.2rem;
  line-height: 1.55rem;
  margin-bottom: 0;
  color: #362312;
}

.navbar {
  width: 100%;
  height: 100px;
  background-color: #f2e7d5;;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linksList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  list-style-type: none;
}

.linksList a {
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  color: #362312;
}

.linksList a:hover {
  text-decoration: underline;
}

.mainPage {
  margin: 0 auto;
  width: 90%;
  min-width: 45rem;
  padding: 2.5rem 0 0 0;
}

#screenBlock {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.createBtn {
  width: 16rem;
  height: 3.2rem;
  background-color: white;
  font-size: 1.2rem;
  border: 3px solid #f2e7d5;
  border-radius: 8px;
  transition: border-color 0.5s ease;
}

.createBtn:hover {
  border-color: green;
}

.myGoals {
  margin: auto auto;
  width: 95%;
  min-width: 40rem;
}

.myGoalsChild {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  min-width: 40rem;
  margin: 1.7rem auto;
  gap: 1rem;
  background-color: white;
}

.myFoods {
  margin: auto auto;
  width: 95%;
  min-width: 40rem;
}

.myFoodsChild {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  min-width: 40rem;
  margin: 1.7rem auto;
  gap: 1rem;
  background-color: white;
}

#buttonDiv {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  width: 95%;
  min-width: 40rem;
  gap: 2rem;
  border: 3px solid #f2e7d5;
  border-radius: 8px;
  background-color: white;
  padding: 1rem;
  box-sizing: border-box;
}

.dividerLine {
  margin: 1rem auto;
  width: 100%;
  min-width: 40rem;
  border: 2px solid #f2e7d5;
}

.foodCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.4rem;
  width: 165px;
  height: 135px;
  border: 3px solid #f2e7d5;
  border-radius: 8px;
  background-color: white;
  transition: border-color 0.5s ease;
}

.foodCard:hover {
  border: 3px solid green;
}

.foodCard h3 {
  color: #362312;
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  margin: 0.1rem 0 0rem 0.2rem;
}

.foodCard p {
  position: relative;
  line-height: 1.2rem;
  font-size: 0.9rem;
  margin: 0.1rem 0.2rem;
}

.deleteBtn {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  background-color: white;
  border: 1px solid #362312;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  font-size: 1.3rem;
  color: red;
  margin: -8.8rem 0 0 9.8rem;
  padding: 0;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.15s ease;
}

.foodCard:hover .deleteBtn {
    opacity: 1;
}

/* FIX CSS WHEN SCROLLBAR APPEARS ON FORM! EVERYTHING GETS FUCKED UP! */

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  background-color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 18rem;
  height: auto;
  min-height: 31rem;
  max-height: 90vh;
  overflow-y: auto;
  border: 2px solid #cbb59b;
  border-radius: 8px;
  padding: 1.8rem 0 1rem 0;
  z-index: 20;
}

.form input {
  width: 12rem;
  height: 1.1rem;
  font-size: 1rem;
  border: 2px solid #cbb59b;
  margin-bottom: 0.6rem;
}

.form label {
  width: 12rem;
  align-self: flex-start;
  margin-left: 2.7rem;
  margin-bottom: 0.1rem;
  font-weight: bold;
}

.form select#servingUnit {
  width: 12.5rem;
  height: 1.5rem;
  font-size: 1rem;
  align-self: flex-start;
  margin-left: 2.7rem;
  margin-bottom: 0.6rem;
  font-weight: bold;
}

.form select#ingredients {
  width: 12.5rem;
  height: 1.6rem;
  font-size: 1rem;
  align-self: flex-start;
  margin-left: 2.7rem;
  margin-bottom: 0.7rem;
  font-weight: bold;
}

#dashboard {
  margin: 1rem 0;
  display: grid;
  gap: 0.5rem;
}

.thumbnail {
  display: flex;
  align-items:center;
  justify-content: space-between;
  width: 14rem;
  height: 2rem;
  border: 2px solid #d9b99b;
  border-radius: 5px;
  background-color: white;
}

.thumbnail #thumbnailText {
  font-size: 1rem;
  margin: auto 0;
  margin-left: 0.5rem;
  padding-top: 0.1rem;
}

.thumbnail #removeX {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.1rem;
  width: 1.1rem;
  color: red;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  margin: auto 0;
  margin-right: 0.5rem;
  padding: 0.05rem 0.04rem 0 0;
  cursor: pointer;
}

#btnContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.4rem;
  margin-top: 0.5rem;
}

#formBtnFood {
  width: 7rem;
  height: 2rem;
  margin-top: 1rem;
  border-color: #cbb59b;
  border-radius: 5px;
  background-color: white;
}

#formBtnMeal {
  width: 7.5rem;
  height: 2.5rem;
  margin: 0.15rem 0;
  border-color: #cbb59b;
  border-radius: 5px;
  background-color: white;
}

#formBtnFood:hover {
  border-color: #006400;
}

#formBtnMeal:hover {
  border-color: #006400;
}

.closeForm {
  width: 1.5rem;
  height: 1.5rem;
  position: fixed;
  background-color: #faf0e6;
  padding: 0;
  margin: -1.2rem 0 0 15.5rem;
  line-height: 1.25rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.1rem;
  font-weight: 700;
  color: red;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.footer {
  display: flex;
  width: 100%;
  min-width: 40rem;
  height: 170px;
  background-color: #f2e7d5;
}

#footerText {
  font-size: 2.1rem;
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: normal;
  color: #362312;
  margin: auto;
}