* {
  font-family: "Encode Sans Expanded", "Nanum Gothic", sans-serif;
  font-weight: 200;
  font-style: normal;
}

body {
  background-color: white;
  margin: 0px;
  height: 100%;
}

h1 {
  font-size: 2rem;
  color: red;
  margin-bottom: 0;
}

h2 {
  margin-bottom: 0;
}

p {
  font-size: 1.2rem;
  line-height: 1.55rem;
  margin-bottom: 0;
}

.navbar {
  width: 100%;
  height: 100px;
  background-color: #080808;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linksList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.linksList a {
  list-style-type: none;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

.linksList a:hover {
  text-decoration: underline;
}

#menuPage {
  margin: 0 auto;
  width: 90%;
  border: 5px solid black;
}

.myFoods {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: left;
  gap: 1rem;
}

.foodCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 170px;
  height: 170px;
  border: 5px solid black;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.foodCard h3 {
  line-height: 1.2rem;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.2rem 0 0.4rem 0.2rem;
}

.foodCard p {
  line-height: 1.2rem;
  font-size: 0.9rem;
  margin: 0.1rem 0.2rem;
}

#bannerbox {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 100%;
}

#banner {
  max-width: 850px;
  min-width: 850px;
}

.content {
  background-color: white;
  padding: 2rem;
  width: 85%;
  margin: auto;
  margin-top: 0.4rem;
  margin-bottom: 1.5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  width: 100%;
  height: 200px;
  background-color: #3a3a3a;
}

#footerText {
  font-size: 1.7rem;
  font-family: "Cedarville Cursive", "cursive";
  color: white;
  margin: auto;
}